@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-1: #ffffff;
    --fonte-texto: "Josefin Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.text {
    font-family: var(--fonte-texto);
    color: var(--cor-1);
    font-size: 18px;
}

body {
    font-family: var(--fonte-texto);
    color: var(--cor-1);
    background: url(/assets/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bonus-container {
    color: white;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0 8px 600px #8e44ad;
    position: relative;
    text-align: center;
}

.bonus-container h3 {
    background-color: #8e44ad;
    padding: 10px 0;
    border-radius: 10px;
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight: 800;
}

.bonus-container ul {
    list-style-type: none;
    margin: 20px 0 0 20px;
}

.bonus-container ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-family: var(--fonte-texto);
    font-size: 24px;
    font-weight: 600;
}

.button-container {
    padding: 20px;
}

.button-container button {
    background-color: #8e44ad;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 24px;
    font-family: var(--fonte-texto);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-container button:hover {
    background-color: #732d91;
    transform: scale(1.1);
}


.video-box {
    margin: 40px;
}

.video-box iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.telegram-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #0088cc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.telegram-icon:hover {
    transform: scale(1.1);
}

.telegram-icon img {
    width: 80px;
    height: 80px;
}

@media (max-width: 1200px) {

    input {
        width: 90%;
    }
    
}